@media (max-width: 575.98px) {
  .header {
    display: none;
  }

  .banner {
    min-height: 70vh;
  }

  .banner_img_1,
  .banner_img_2 {
    display: none;
  }

  .banner_text,
  .banner_feature,
  #searchForm {
    width: 90vw;
  }

  .banner_text p {
    font-size: 3rem;
  }

  .why_us_grid {
    padding: 0 5px;
  }

  .top_categories .col {
    width: 50%;
    margin-bottom: 2rem;
  }

  .top_categories_item:nth-last-child() {
    width: 50%;
    margin: auto;
  }

  .partner_inner {
    flex-direction: column;
  }

  .partner_inner_left {
    margin-bottom: 2rem;
    padding-left: 2rem;
  }

  .institute_single {
    margin-bottom: 4rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .header {
    font-size: 1rem;
  }

  .banner {
    min-height: 60vh;
  }

  .banner_img_1,
  .banner_img_2 {
    display: none;
  }

  .banner_text,
  .banner_feature,
  #searchForm {
    width: 80vw;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
}

@media (min-width: 1400px) {
}
