html {
  font-size: 62.5%;
}

/* ================================ Common Header ========================================= */
.header {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(1, 1, 1, 0.1);
}

.header_inner_left,
.header_inner_right {
  display: flex;
}

.header_inner_left_item,
.header_inner_right_item {
  padding: 1rem;
}

.header_inner_left_item:not(:last-child),
.header_inner_right_item:not(:last-child) {
  margin-right: 1rem;
  border-right: 1px solid rgb(1, 1, 1, 0.1);
  padding-right: 2rem;
}

.header_inner_left_item i,
.header_inner_right_item i {
  margin-right: 0.5rem;
  color: var(--secondary-color);
}

/* +==================================== Common Navbar =========================================== */
.navbar {
  padding: 2rem 2rem;
}

.navbar .navbar-nav .nav-link {
  font-size: 1rem;
  text-transform: uppercase;
}

.navbar .navbar-nav .nav-item:not(:last-child) {
  margin-right: 2rem;
}

/* ==================================== Banner =============================================== */
.banner {
  width: 100%;
  min-height: 100vh;
  background: url(https://images.unsplash.com/photo-1580063665762-762002ea39d7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner_text,
.banner_feature,
#searchForm {
  width: 40vw;
}

.banner_text p {
  font-size: 4.5rem;
  font-weight: 800;
  line-height: 4rem;
  margin-bottom: 4rem;
}

.banner_feature {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.banner_feature p {
  display: flex;
}

.banner_feature p:first-child {
  margin-right: 2rem;
}

.banner_feature span {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background: rgb(142, 142, 142);
  color: #fff;
  display: grid;
  place-items: center;
  margin-right: 0.5rem;
}

#searchForm {
  display: flex;
  background-color: #fff;
  padding: 1rem;
}

#searchForm .form-control,
#searchForm button {
  border: 0;
  box-shadow: none;
  font-size: 1.3rem;
}

/* ========================================= Why Us ============================================= */
.why_us {
  margin: 5rem 0;
}

.why_us_grid .row {
  justify-content: center;
  padding-top: 3rem;
}

.why_us_grid_item {
  min-height: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.4rem;
}
