html {
  font-size: 62.5%;
}

/* ================================ Common Header ========================================= */
.header {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(1, 1, 1, 0.1);
}

.header_inner_left,
.header_inner_right {
  display: flex;
}

.header_inner_left_item,
.header_inner_right_item {
  padding: 1rem;
}

.header_inner_left_item:not(:last-child),
.header_inner_right_item:not(:last-child) {
  margin-right: 1rem;
  border-right: 1px solid rgb(1, 1, 1, 0.1);
  padding-right: 2rem;
}

.header_inner_left_item i,
.header_inner_right_item i {
  margin-right: 0.5rem;
  color: var(--secondary-color);
}

/* +==================================== Common Navbar =========================================== */
.navbar {
  padding: 2rem 2rem;
}

.navbar .navbar-nav .nav-link {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.navbar .navbar-nav .nav-item:not(:last-child) {
  margin-right: 2rem;
}

/* ==================================== Banner =============================================== */
.banner {
  width: 100%;
  min-height: 100vh;
  background: url(https://images.unsplash.com/photo-1580063665762-762002ea39d7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner_text,
.banner_feature,
#searchForm {
  width: 40vw;
}

.banner_text p {
  font-size: 4.5rem;
  font-weight: 800;
  line-height: 4rem;
  margin-bottom: 4rem;
}

.banner_feature {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.banner_feature p {
  display: flex;
}

.banner_feature p:first-child {
  margin-right: 2rem;
}

.banner_feature span {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background: rgb(142, 142, 142);
  color: #fff;
  display: grid;
  place-items: center;
  margin-right: 0.5rem;
}

#searchForm {
  display: flex;
  background-color: #fff;
  padding: 1rem;
}

#searchForm .form-control,
#searchForm button {
  border: 0;
  box-shadow: none;
  font-size: 1.3rem;
}

/* ========================================= Why Us ============================================= */
.why_us {
  margin: 5rem 0;
}

.why_us_grid .row {
  justify-content: center;
  padding-top: 3rem;
}

.why_us_grid_item {
  min-height: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.4rem;
}

/* ======================================= Top categories ======================================= */
.top_categories {
  padding: 8rem 0;
}

.top_categories_item {
  background: #fff;
  padding: 4rem;
  border-radius: 5px;
}

.top_categories_item p:first-child {
  font-size: 1.4rem;
}

/* ===================================== Highr education partner ============================ */
.partner {
  padding: 5rem 0;
  margin: 5rem 0;
}

.partner_inner {
  display: flex;
}

.partner_inner_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 5rem;
}

.institute_single {
  text-align: center;
  background-color: #fff;
  padding: 1.3rem 1.3rem;
  transition: 0.3s all ease;
}

.institute_single:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.institute_single img {
  height: 100px;
}

.fa-star {
  color: #f7b603;
}

.partner_inner_right a {
  text-decoration: none;
}

/* ======================================= Latest tech news ================================= */
.blog {
  margin: 8rem 0;
}

.blog_item {
  position: relative;
  box-shadow: 0.5rem 0.5rem 6rem -1.7rem rgb(1, 1, 1, 0.2);
}

.blog_item .card-img-top {
  height: 22rem;
  object-fit: cover;
}

.blog_item .card-title {
  font-size: 1.8rem;
  font-weight: 800;
}

.blog_item .btn {
  font-size: 1.2rem;
  padding: 0.6rem 2rem;
  font-weight: 600;
  background-color: var(--secondary-color);
  border: none;
  color: #fff;
}

.blog_item .btn:hover {
  transform: translateY(2px);
}

.blog_categoty {
  position: absolute;
  left: 2rem;
  top: 2rem;
}

.blog_categoty .badge {
  font-size: 1rem;
  padding: 0.8rem 1.2rem;
  background-color: var(--secondary-color);
}
