/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

:root {
  --primary-color: #111;
  --secondary-color: rgb(147, 0, 0);
  --main-font-style: "Lato", sans-serif;
  /* --main-font-style: "Roboto", sans-serif; */
}

body {
  font-family: var(--main-font-style);
}

a {
  color: var(--primary-color);
}

a:hover,
a:active {
  color: var(--secondary-color);
}

p {
  margin-bottom: 0;
}

.common_heading {
  font-size: 3rem;
}

.heading_support_text {
  font-size: 1.4rem;
}
