/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

:root {
  --primary-color: #03989e;
  --secondary-color: #3427ab;
  --color-light: #f8f9fa;
  --border-color: #f2f2f2;
  --sidebar-link-color: rgb(114, 114, 114);
  --main-font-style: "Lato", sans-serif;
  /* --main-font-style: "Roboto", sans-serif; */
}

body {
  font-family: var(--main-font-style);
}

a {
  color: var(--primary-color);
}

a:hover,
a:active {
  color: var(--secondary-color);
}

p {
  margin-bottom: 0;
}

.common_heading_1 {
  font-size: 3rem;
  font-weight: 800;
}

.common_heading_2 {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 4rem;
}

.heading_support_text {
  font-size: 1.4rem;
}

.view_all_btn {
  border: 1px solid var(--secondary-color);
  font-size: 1.2rem;
  font-weight: 800;
  padding: 1rem 3rem;
  color: var(--secondary-color);
  background-color: #fff;
}

.view_all_btn:hover {
  color: #fff;
  background-color: var(--secondary-color);
}
